<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" (click)="bsModalRef.hide()"></button>
    <span class="visually-hidden">&times;</span>
</div>
<div class="modal-body">
    <ng-container *ngFor="let role of availableRoles">
    <div class="form-check">
        <input 
        type="checkbox"
        class="form-check-input"
        [checked]="selectedRoles.includes(role)"
        value="role"
        (change)="updateChecked(role)"
        [disabled]="role === 'Admin' && username === 'admin'">
        <label>{{role}}</label>
    </div>
</ng-container>
</div>
<div class="modal-footer">
    <button [disabled]="selectedRoles.length === 0" class="btn btn-success" (click)="onSelectRoles()">
        Submit
    </button>
</div>
